/* RESET CSS */
*,  ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit
}


/*couleur*/
/* faire class active avec les couleurs le blue celui qui jouent*/
/* color blue = #5EBEC4  */
/* color pink = #FDF5DF   */
/* background-color: ##808080;  */

/* Police  font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    height: 100%; 
    width: 100vw;
    background-color: #808080; 
    font-family: 'Lato', sans-serif;
}
/* class général de style */
.center{
    text-align: center;
}
.line-height{
    line-height: 1.6em;
}

/*  STYLE ICONE*/
.bi{
    cursor: pointer;
}
/* First Modal  */
.btnModal{
    background-color: #5EBEC4;
    width: 80px;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    margin-bottom: 20px;
}
/* Second modal*/
.modalUser{
    display: flex;
    flex-direction: column;
}
.labelPlayer{
    margin: 10px;
}
/*  HEADER  */

h1{
    color: #171816;
    padding-bottom: 20px;
}
.barInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #5EBEC4;
    font-weight: 900;
    height:  2vh;
}


/*  MAIN  */

main{
    /* background: linear-gradient(to bottom, #5EBEC4 50%, #FAD9E6 50%); */
    border: solid #c2bab8 5px ;
    margin-top: 20px;
    
}

.flexColum{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.player1{
    background-color: #5EBEC4;  
    color : #FAD9E6 ;  
}

.optionGame{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.player2{
    background-color: #FAD9E6;  
    color : #5EBEC4;
    
}
img{
    width: 80px;
    height: 80px;
}


/********MEDIA QUERY POUR ECRAN 460PX  ***********
******min-width 460px**************/
@media screen and (min-width: 460px){
    




}


/********MEDIA QUERY POUR ECRAN 720PX  ***********
******min-width 720px**************/
@media screen and (min-width: 720px){
    /* Second modal*/
    .modalUser{
    display: flex;
    flex-direction: row;
    text-align: center;
    }
    .labelPlayer{
    margin: 10px;
    
    }
    main{
        /* background: linear-gradient(to left, #FAD9E6 50%, #5EBEC4 50%); */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-items: stretch;   
    }
    .flexColum{
        height: auto;
        width: 50%;
    }
    .optionGame{
        display: flex;
        flex-direction: column;
    }
}    
/* mettre une hauteur =>flexColum pour different affivhage */


/* modalwinner
.modalWinner {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}
STYLISER DS LE DIV INTERNE ET METTRE MODAL HORIZONTAL
.modalWinner div {
  width: 350px;
  height: 80px;
  margin: 100px auto;
  background-color: grey;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border: 3px solid #cccccc;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
} */